[main]
dev = 1
host=127.0.0.1
port=0000
alias=testbot.a.b
trash_chat=683097867@chat.agent

[icq_bot]
token=001.3793076426.0515976220:755554598
owner=xxxxxxxxx
poll_time_s=3600
task_timeout_s=50
request_timeout_s=7
task_max_len=1000000000

[ctlr]
host=127.0.0.1
port=0000

[graphite]
enable=0
server=graphite.example.com
prefix=icqweb
port=300

[tarantool]
db_host=127.0.0.1
db_port=3301
user=admin
password=pass

[postcards_service]
host=127.0.0.1
port=1515

[put_faces_service]
host=127.0.0.1
port=1516

[push_notes]
push_notes_delay_ms=200